In [1]:
import os
import sys
import PyPDF2
from datetime import datetime
from datetime import timedelta
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
currDate = datetime.now()
CurrDay = currDate.strftime("%d")
currDate = datetime.now() - timedelta(days = (int (CurrDay)+2))
OldDate = datetime.now() - timedelta(days = 40)
#OldDate = datetime.now() - timedelta(days = (int (CurrDay)+1)) # use after done

CurrMonth = (currDate.strftime('%b')) # ('%B')
LastMonth = (OldDate.strftime('%b'))
CurrYear = (currDate.strftime('%Y'))
StatementRows = pd.DataFrame(columns = ["Date","Description","Spending Cat","Amount"])#{"Date":[],"Description":[],"Spending Cat":[],"Amount":[]})
RowInfo = {}#{"Date": ,"Description": , "Spending Cat":,"Amount": }

MainFolder = "C:\\school\\python\\budget\\budgetapp\\pdfs\\2020\\"
PdfName = "June_July_20"
#ReadPdf = r"C:\school\projects\Projects\Python\budgetapp\Oct_Nov_2018.pdf" #MainFolder+PdfName

ReadPdf = MainFolder+PdfName + ".pdf"#r"C:\school\python\budget\budgetapp\Oct_Nov_2018.pdf" #MainFolder+PdfName
print(ReadPdf)

C:\school\python\budget\budgetapp\pdfs\2020\June_July_20.pdf

In [3]:

import os

for filename in os.listdir(MainFolder):
    #print(os.path.join(directory, filename))
    print(filename.split('.'))

['April_May_20', 'pdf']
['Aug_Sept_20', 'pdf']
['Dec_Jan_20', 'pdf']
['Feb_Mar_20', 'pdf']
['Jan_Feb_20', 'pdf']
['Jul_Aug_20', 'pdf']
['June_July_20', 'pdf']
['Mar_April_20', 'pdf']
['May_June_20', 'pdf']
['Nov_Dec_20', 'pdf']
['Oct_Nov_20', 'pdf']

In [4]:
PdfObj = open(ReadPdf, 'rb')
pdfReader =  PyPDF2.PdfFileReader(PdfObj)
#print ("number of pages")
#print (pdfReader.numPages)
PDFSize =  (pdfReader.numPages)
ExcelInformation = []
PDFContent = ""
PDFText = ""
SpendingCategory = ["Personal and Household Expenses","Professional and Financial Services","Retail and Grocery","Transportation","Hotel, Entertainment and Recreation","Restaurants","Home and Office Improvement","Health and Education","Foreign Currency Transactions"]
PDFText = pdfReader.getPage(0).extractText()
PDFText

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]

'Your account at a glancePrevious balance$8.81CRPayments$200.00Other credits0.00Total credits- $200.00Purchases316.50Cash advances0.00Interest0.00Fees0.00Total charges+$316.50Total balance =$107.69 Your payment due this monthAmount Due1$107.69Minimum Payment2Please pay this amount by Aug 04, 2020$10.00JASMAN SINGH SAHIAccount number4502 3200 6332 1761Statement DateJuly 13, 2020July statement periodJune 14to July 13, 2020Contact usCustomer Service1 800 465-4653Lost/Stolen1 800 663-4575TTY1 877 331-3338Onlinewww.cibc.comSummaryCreditƒCashƒLimit$3,000.00$1,500.00Available$2,892.31$1,500.00Interest ratesAnnualRegular purchases19.99%Cash advances22.99%CIBC Dividend®Visa*Card Tear Off  here  Please turn over - Transactions begin on page 2 Page 1 of 3Cash Back Summary As at last statement+18.67This statementPromotions+0.932% Cash Back+1.85Cash Back+1.15Total Cash Back=22.60031558JASMAN SINGH SAHI13469 INNIS LAKE RDCALEDON EAST ON  L7C 2Z6ððððôõðòóòððöóóòñ÷öñððððððððñð÷öùðððððððððñðððùCIBCPO BOX4595 STN ATORONTO ON  M5W4X9188-031558Account number4502 3200 6332 1761Amount Due$107.69Minimum Payment due by Aug 04, 2020 $10.00Total payment enclosed$_____________CIBC Dividend VisaCardPayment optionsŁOnline Banking: www.cibc.comŁTelephone Banking: 1 800 465-CIBC (2422)ŁCIBC bank machines and most financialinstitutionsŁMail: Return completed slip with your chequeor money order payable toCIBC.For general inquiries call1 800 465-4653Do not staple or attach correspondence.\\ðòðñõòðòðð\\*0201520200*'

In [5]:
def ExtractPDFContent(PDFContent):
    for i in range(1,PDFSize):
        #print ('Page Content')
        pageObj = pdfReader.getPage(i)
        PDFText = pageObj.extractText()

        if PDFText.find("CIBC CreditSmart") == -1:
            Count = PDFText.find("Card number")+31
            #print (Count)
            End = PDFText.find("If you find an error or irregularity")
            if End == -1:
                End = PDFText.find("Total for")
            PDFContent += PDFText[Count:End]
        else:
            break
    return PDFContent

PDFContent = ExtractPDFContent(PDFContent)
PDFContent

"Jun 12Jun 15MCDONALD S #9425         BOLTON       ONRestaurants13.54Jun 12Jun 15SOBEYS #937              BRAMPTON     ONRetail and Grocery31.95Jun 12Jun 15SOBEYS #937              BRAMPTON     ONRetail and Grocery6.69Jun 14Jun 16WENDY'S            Q1R   BRAMPTON     ONRestaurants15.81Jun 17Jun 22DAIRY QUEEN # 12281      BRAMPTON     ONRestaurants14.43Jun 19Jun 22FOOD FIGHT BBQ           BRAMPTON     ONRestaurants50.15Jun 26Jun 29GOOD EGG DINING          BRAMPTON     ONRestaurants31.60Jun 30Jul 02Amazon.ca Prime Member   amazon.ca/priBCProfessional and Financial Services44.07Jul 02Jul 02ASIAN FOOD CENTRE        BRAMPTON     ONRetail and Grocery15.00Jul 10Jul 13POPEYES LOUISANA KITCHEN BRAMPTON     ONRestaurants26.52Jul 10Jul 13ASIAN FOOD CENTRE        BRAMPTON     ONRetail and Grocery38.50Jul 12Jul 13KELSEY'S #7699           BOLTON       ONRestaurants28.24Total for4502 3200 6332 1761$316.50"

In [6]:
#x = re.findall( r"[A-z]* \d\d[A-z]* \d\d", PDFContent)
#x

In [7]:
transactionsList = re.split( r"[A-z]* \d\d[A-z]* \d\d", PDFContent)
transactionsList

['',
 'MCDONALD S #9425         BOLTON       ONRestaurants13.54',
 'SOBEYS #937              BRAMPTON     ONRetail and Grocery31.95',
 'SOBEYS #937              BRAMPTON     ONRetail and Grocery6.69',
 "WENDY'S            Q1R   BRAMPTON     ONRestaurants15.81",
 'DAIRY QUEEN # 12281      BRAMPTON     ONRestaurants14.43',
 'FOOD FIGHT BBQ           BRAMPTON     ONRestaurants50.15',
 'GOOD EGG DINING          BRAMPTON     ONRestaurants31.60',
 'Amazon.ca Prime Member   amazon.ca/priBCProfessional and Financial Services44.07',
 'ASIAN FOOD CENTRE        BRAMPTON     ONRetail and Grocery15.00',
 'POPEYES LOUISANA KITCHEN BRAMPTON     ONRestaurants26.52',
 'ASIAN FOOD CENTRE        BRAMPTON     ONRetail and Grocery38.50',
 "KELSEY'S #7699           BOLTON       ONRestaurants28.24Total for4502 3200 6332 1761$316.50"]

In [8]:
SpendingCategory = ["Personal and Household Expenses","Professional and Financial Services","Retail and Grocery","Transportation","Hotel, Entertainment and Recreation","Restaurants","Home and Office Improvement","Health and Education","Foreign Currency Transactions"]
data = []
for i in transactionsList:
    #print(i.split("ON"))
    #print(i)  
    
    for j in SpendingCategory:
        result = i.find(j) 
        #print(result)
        
        if( result != -1):
            if(j.find("Foreign Currency Transactions") != -1):
                print('his')
                print(j)
                print(i)
                datastr = re.findall('\d+\.\d+ USD @ \d+\.\d+\*\*', i)
                
                print(datastr)#.trim()
                #spent = re.findall('\d+\.\d+', datastr[1])
                print(j)
                #print(spent)
                #print(i.split(r'41.73  USD @ 1.314641745**'))
                
                
            else:
                datastr = re.split(i[result-15:result], i) #i.split(i[result-15:result])
                print(datastr)
                #location = re.split(' [A-z]*\d+\.\d+', datastr[1])#[0]
                spent = re.findall('\d+\.\d+', datastr[1])[0]
                #datastr.append(spent)
                print(datastr[0])
                print(j)
                print(spent)
                data.append({"name": datastr[0], "category":j, "spent": spent})

['MCDONALD S #9425         ', 'Restaurants13.54']
MCDONALD S #9425
Restaurants
13.54
['SOBEYS #937              ', 'Retail and Grocery31.95']
SOBEYS #937
Retail and Grocery
31.95
['SOBEYS #937              ', 'Retail and Grocery6.69']
SOBEYS #937
Retail and Grocery
6.69
["WENDY'S            Q1R   ", 'Restaurants15.81']
WENDY'S            Q1R
Restaurants
15.81
['DAIRY QUEEN # 12281      ', 'Restaurants14.43']
DAIRY QUEEN # 12281
Restaurants
14.43
['FOOD FIGHT BBQ           ', 'Restaurants50.15']
FOOD FIGHT BBQ
Restaurants
50.15
['GOOD EGG DINING          ', 'Restaurants31.60']
GOOD EGG DINING
Restaurants
31.60
['Amazon.ca Prime Member   ', 'Professional and Financial Services44.07']
Amazon.ca Prime Member
Professional and Financial Services
44.07
['ASIAN FOOD CENTRE        ', 'Retail and Grocery15.00']
ASIAN FOOD CENTRE
Retail and Grocery
15.00
['POPEYES LOUISANA KITCHEN ', 'Restaurants26.52']
POPEYES LOUISANA KITCHEN
Restaurants
26.52
['ASIAN FOOD CENTRE        ', 'Retail and Grocery38.50']
ASIAN FOOD CENTRE
Retail and Grocery
38.50
["KELSEY'S #7699           ", 'Restaurants28.24Total for4502 3200 6332 1761$316.50']
KELSEY'S #7699
Restaurants
28.24

In [9]:
data

[{'name': 'MCDONALD S #9425         ',
  'category': 'Restaurants',
  'spent': '13.54'},
 {'name': 'SOBEYS #937              ',
  'category': 'Retail and Grocery',
  'spent': '31.95'},
 {'name': 'SOBEYS #937              ',
  'category': 'Retail and Grocery',
  'spent': '6.69'},
 {'name': "WENDY'S            Q1R   ",
  'category': 'Restaurants',
  'spent': '15.81'},
 {'name': 'DAIRY QUEEN # 12281      ',
  'category': 'Restaurants',
  'spent': '14.43'},
 {'name': 'FOOD FIGHT BBQ           ',
  'category': 'Restaurants',
  'spent': '50.15'},
 {'name': 'GOOD EGG DINING          ',
  'category': 'Restaurants',
  'spent': '31.60'},
 {'name': 'Amazon.ca Prime Member   ',
  'category': 'Professional and Financial Services',
  'spent': '44.07'},
 {'name': 'ASIAN FOOD CENTRE        ',
  'category': 'Retail and Grocery',
  'spent': '15.00'},
 {'name': 'POPEYES LOUISANA KITCHEN ',
  'category': 'Restaurants',
  'spent': '26.52'},
 {'name': 'ASIAN FOOD CENTRE        ',
  'category': 'Retail and Grocery',
  'spent': '38.50'},
 {'name': "KELSEY'S #7699           ",
  'category': 'Restaurants',
  'spent': '28.24'}]

In [10]:
df = pd.DataFrame(data)
df.to_csv(r"./csvs/"+PdfName+".csv")
df

                         name                             category  spent
0   MCDONALD S #9425                                   Restaurants  13.54
1   SOBEYS #937                                 Retail and Grocery  31.95
2   SOBEYS #937                                 Retail and Grocery   6.69
3   WENDY'S            Q1R                             Restaurants  15.81
4   DAIRY QUEEN # 12281                                Restaurants  14.43
5   FOOD FIGHT BBQ                                     Restaurants  50.15
6   GOOD EGG DINING                                    Restaurants  31.60
7   Amazon.ca Prime Member     Professional and Financial Services  44.07
8   ASIAN FOOD CENTRE                           Retail and Grocery  15.00
9   POPEYES LOUISANA KITCHEN                           Restaurants  26.52
10  ASIAN FOOD CENTRE                           Retail and Grocery  38.50
11  KELSEY'S #7699                                     Restaurants  28.24